body {
    border: 1px solid black;
    width: 480px;
    /* height: 768px; */
    box-sizing: border-box;
}

#top-a {
    height: 75px;
    border: 1px solid black;
    text-align: left;
    box-sizing: border-box;
}

#top-b {
    height: 150px;
    border: 1px solid black;
    text-align: left;
    box-sizing: border-box;
}

#see-dee {
    height: 250px;
}

#middle-c {
    height: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    
}

#middle-d {
    height: 50%;
    border: 1px solid black;
    box-sizing: border-box;
}

#four-square {
    height: 500px;
}

/* .four {
    height: 50%;
    width: 50%;
    border: 1px solid black;
    box-sizing: border-box;
} */

#left-e{
    height: 50%;
    width: 50%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
}

#right-f {
    height: 50%;
    width: 50%;
    float: right;
    border: 1px solid black;
    box-sizing: border-box;
}

#bottom-left-g {
    height: 50%;
    width: 50%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    
}

#bottom-right-h {
    height: 50%;
    width: 50%;
    float: right;
    border: 1px solid black;
    box-sizing: border-box; 
}

footer {
    height: 80px;
}

@media only screen and(min-width: 481px) {
    
}
